doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css')
    link(rel='stylesheet', href='/stylesheets/loading.min.css')
    link(rel='icon', href='/images/favicon.png', type='image/x-icon')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block content
    block footer
      div#footer © Copyright 2020 Anna Teng

