extends layout

block content
  div.wrapper
    h4 Thank you for your submission. 
    h5 We couldn't find this bathroom on Google maps, but it's been submitted. An admin will review your request shortly.
    br
    div 
      a(href='/') Go back home