body {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #FFE2E2;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#content {
  padding: 75px;
  padding-top: 0px;
}

a {
  color: #00B7FF;
}

.emph {
  color: #46b58a;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.smallfont {
  font-size: 0.8em;
}

#main-logo {
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.7em;
  color: darkgrey;
}

.centered {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
